.logo2 {
	font-family: $font-headings-family;
	color: #CFD0D2;
}

.logo2-full-page {
	@extend .logo2;
	position: absolute;
	left: 50%;
	top: 50%;
	
	&.heading {
		font-size: 4em;
		margin-left: -1.4em;
		margin-top: -1.75em;
		text-shadow: #663F67 -1px 0px 1px;
	}
	
	&.subtitle {
		margin-left: -2.7em;
		margin-top: -1.2em;
		font-family: $font-general-family;
		color: #D394DE;
	}
	
}