$breakpoint-not-small: 'screen and (min-width: 38rem)';
$breakpoint-medium: 'screen and (min-width: 60rem)';
$breakpoint-large: 'screen and (min-width: 75em)';

@import "~reset-css/reset";
@import "~tachyons-sass/tachyons.scss";
@import "./scope/s-body-copy.scss";

// Project specific code

.tj {
    text-align: justify;
}

div,
header,
article,
main {
    box-sizing: border-box;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}